{% extends 'base.html' %}
{% load static %}
  {% block content %}
    <h1>Child Details</h1>
     <div class="row">
       <div class="col s6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ child.name }}</span>
            <img  class="eachpic" src="{{ child.child_image.url }}">
            <p>Gender: {{ child.gender }}</p>
            {% if child.age > 0 %}
              <p>Age: {{ child.age }}</p>
            {% else %}
              <p>Age: Underage</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col s6">
        <form method="post" action="{% url 'add_dailyActivities' child.id %}">
            {% csrf_token %}
            {{ daily_ActivityForm.as_p }}
            <input type="submit" class="btn" value="Daily Activity">
          </form>
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Time</th><th>Daily Activities</th></tr>
          </thead>
          <tbody>
            {% for daily_activity in child.daily_activity_set.all %}
              <tr>
                <td>{{daily_activity.date}}</td>
                <td>{{daily_activity.time}}</td>
                <td>{{daily_activity.get_activity_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <a class="update btn" href="{% url 'children_update' child.id %}">UPDATE</a> |
    <a class="delete btn" href="{% url 'children_delete' child.id %}">DELETE</a>

   <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true
        });
  
        // add additional JS to initialize select below
        var selectEl = document.getElementById('id_activity');
        M.FormSelect.init(selectEl);

        // var selectEl = document.getElementById('id_time');
        // M.FormSelect.init(selectEl);
      </script>

{% endblock %}