{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4><b>Welcome to Learn N Play DayCare</b></h4>

<img src="{% static 'media/home-image.jpeg' %}">



<p>We are the premier early childhood learning center in Southwest Houston, TX. Our affordable and unique learning
    approach gives every child in the City of Houston an aooprtunity to thrive.</p>
<p>Our childcare center provides care for children ages 6 weeks-12 years old. Our Preschool Program is perfect for 2-3
    years old and provides early learners with the essentials that will equip them for the next stage.</p>
<p>Our Pre-K program is designed for children 4-5 years old and provides learners with core academics and readiness
    skills that will help them transition into the school years.</p>
<p>Our school-aged program provides before and afterschool planned activities, enrichment activities , reading programs
    and homework assistance to keep the children engaged and ready to excel.</p>

<img src="{% static 'media/home-image3.jpeg' %}">
<br>
<b>Highlights</b><br>
<ul>
    <li>Affordable Tuition Fees</li>
    <li>Safe 5,000 square foot facility</li>
    <li>Open late and on Saturday</li>
    <li>Hot Meals and Nutritious Snacks</li>
    <li>Bi-Lingual/ESL Enrichment</li>
    <li>Age Appropriate Activities and Developmentally Appropriate Curriculem</li>
    <li>Professional, Caring Staff</li>
    <li>Experienced Management Team</li>
</ul>


{% endblock %}